#  Projeto de Ciência de Dados

# Modelagem, Detecção e Predição dos Ciclos Hidrológicos do Pantanal

---

##  1. Contextualização

O **Pantanal** é a maior planície alagável tropical do planeta, com regime hidrológico altamente sazonal.

A alternância entre **cheias e secas** impacta:

* 🌱 Biodiversidade
* 🚢 Navegação
* 🌾 Agricultura
* 💧 Segurança hídrica
* 💰 Economia regional

Mudanças recentes levantam hipóteses sobre possível alteração estrutural no regime hidrológico.

---

##  2. Problema de Pesquisa

### Pergunta Central

> Qual é a dinâmica, frequência, intensidade, espacialização e tendência dos ciclos de cheias e secas no Pantanal ao longo das últimas décadas?

### Subquestões

* Há mudança estrutural no regime hidrológico?
* Eventos extremos estão se intensificando?
* É possível prever cheias e secas com modelos estatísticos e Deep Learning?
* Existem padrões distintos entre municípios?

---

##  3. Área de Estudo

###  Mato Grosso (MT)

* Barão de Melgaço
* Cáceres
* Lambari d’Oeste
* Poconé
* Nossa Senhora do Livramento
* Santo Antônio do Leverger
* Itiquira

###  Mato Grosso do Sul (MS)

* Corumbá
* Ladário
* Aquidauana
* Miranda
* Bodoquena
* Porto Murtinho
* Rio Verde de Mato Grosso
* Sonora
* Coxim

### 🔎 Total

* 16 municípios
* 7 em MT
* 9 em MS

Municípios com maior área no Pantanal:

* Barão de Melgaço (MT)
* Corumbá (MS)

---

##  4. Fonte de Dados

Os dados serão obtidos via pacote **HydroBR**, com acesso estruturado às bases da
**Agência Nacional de Águas**.

### Variáveis disponíveis

* Cota (nível do rio)
* Vazão
* Precipitação
* Metadados das estações

### Critérios de seleção

* Estações em MT e MS
* Séries históricas longas
* Consistência temporal

---

#  5. Metodologia Analítica

---

## 5.1 Coleta Automatizada

* Seleção automatizada de estações
* Download programático
* Consolidação em DataFrame único
* Padronização do índice temporal

---

## 5.2 Pré-processamento

### 🔹 Tratamento

* Interpolação temporal
* Remoção de outliers (IQR / Z-score)
* Verificação de consistência

### 🔹 Engenharia de Variáveis

* Anomalias hidrológicas
* Médias móveis
* Padronização (z-score)
* Classificação automática:

| Classe         | Critério       |
| -------------- | -------------- |
| Cheia extrema  | > Percentil 95 |
| Cheia moderada | 90–95          |
| Normal         | 10–90          |
| Seca           | 5–10           |
| Seca extrema   | < 5            |

---

## 5.3 Análise Exploratória (EDA)

### Estatísticas Descritivas

* Média
* Desvio padrão
* Assimetria
* Curtose
* Quantis extremos

### Visualizações

* Séries históricas completas
* Comparação por décadas
* Heatmap anual
* Boxplots sazonais

### Dependência Temporal

* ACF
* PACF

### Decomposição STL

* Tendência
* Sazonalidade
* Resíduo

---

## 5.4 Análise Espectral – Extração de Ciclos

Aplicação da Transformada Rápida de Fourier (FFT):

[
FFT(x_t)
]

### Objetivos

* Identificar periodicidade dominante
* Detectar ciclos interanuais
* Avaliar mudanças na frequência dominante
* Identificar ciclos de seca prolongada

### Técnicas complementares

* Periodograma
* Densidade espectral
* Filtro passa-banda
* Wavelet (análise multiescalar)

---

## 5.5 Modelagem de Séries Temporais

###  Modelos Estatísticos

* ARIMA
* SARIMA
* SARIMAX (com precipitação exógena)

### Métricas

* AIC
* BIC
* RMSE
* Cross-validation temporal

---

###  Modelos de Deep Learning

* LSTM
* Transformer para Séries Temporais

### Objetivos

* Previsão de cheias futuras
* Antecipação de eventos extremos
* Comparação com modelos clássicos

---

## 5.6 Detecção de Eventos Extremos

### Critérios

* Percentil 90–95 → Cheia
* Percentil 5–10 → Seca
* Duração mínima consecutiva
* Intensidade acumulada

### Visualizações

* Gráfico tipo Gantt
* Curvas de severidade
* Ranking histórico

---

## 5.7 Análise de Tendência e Mudança Estrutural

* Teste de Mann-Kendall
* Regressão linear robusta
* Theil-Sen
* Change Point Detection

### Objetivos

* Detectar intensificação de secas
* Avaliar aumento da variabilidade
* Identificar alterações no regime sazonal

---

## 5.8 Visualização Interativa

### Mapas

* Estações georreferenciadas
* Classificação por intensidade
* Timeline animada

### Ferramentas

* Folium
* Plotly
* GeoPandas

---

## 5.9 Exportação

* Excel (.xlsx)
* CSV
* Relatório PDF
* Download direto no Colab

---

#  6. Estrutura do Notebook

```
01 - Instalação de Pacotes
02 - Coleta de Dados
03 - Pré-processamento
04 - Análise Exploratória
05 - Análise Espectral (FFT)
06 - Modelagem SARIMA
07 - Modelagem LSTM / Transformer
08 - Eventos Extremos
09 - Mapas Interativos
10 - Exportação
```

---

#  7. Resultados Esperados

* ✔ Periodicidade dominante dos ciclos
* ✔ Identificação de ciclos interanuais
* ✔ Duração média das cheias
* ✔ Tendência estatisticamente significativa (ou não)
* ✔ Modelo preditivo validado
* ✔ Dashboard interativo
* ✔ Base exportável para pesquisas futuras

---

#  8. Contribuições Científicas

* Integração entre hidrologia e ciência de dados
* FFT + SARIMA + Transformers no mesmo pipeline
* Detecção automática de eventos extremos
* Análise multiescalar (dias, meses, anos)
* Pipeline totalmente reprodutível

## **1️⃣ Instalação de pacotes e configuração inicial**
* `pandas` → manipulação de DataFrames
* `numpy` → operações matemáticas
* `hydrobr.get_data` → pacote que acessa dados da **ANA** (Agência Nacional de Águas)
* `tqdm.notebook` → barra de progresso visual no Colab durante downloads grandes

In [ ]:
# Instalação de Bibliotecas
!pip install hydrobr # Acesso e download de dados hidrológicos da ANA (Hidroweb) de forma automatizada
!pip install pymannkendall # Testes estatísticos de tendência em séries temporais (ex.: Mann-Kendall)
!pip install statsmodels #análise estatística avançada e modelagem estatística
!pip install openpyxl #leitura e escrita de arquivos Excel (.xlsx)
!pip install tqdm #barras de progresso para loops e tarefas demoradas
!pip install seaborn #criação de gráficos estatísticos bonitos e simples

Collecting hydrobr
  Downloading hydrobr-0.1.1.tar.gz (16 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.12/dist-packages (from hydrobr) (2.2.2)
Requirement already satisfied: tqdm>=4.31 in /usr/local/lib/python3.12/dist-packages (from hydrobr) (4.67.3)
Requirement already satisfied: requests>=2.21 in /usr/local/lib/python3.12/dist-packages (from hydrobr) (2.32.4)
Requirement already satisfied: plotly>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from hydrobr) (5.24.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->hydrobr) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->hydrobr) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->hydrobr) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->hydrobr) (2025.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly>=4.6.0->hydrobr) (9.1.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from plotly>=4.6.0->hydrobr) (26.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21->hydrobr) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21->hydrobr) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21->hydrobr) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21->hydrobr) (2026.1.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->hydrobr) (1.17.0)
Building wheels for collected packages: hydrobr
  Building wheel for hydrobr (setup.py) ... done
  Created wheel for hydrobr: filename=hydrobr-0.1.1-py3-none-any.whl size=15071 sha256=85b035d39b5870206044810d7d30ae5e3611cf3b88fe13a48564c53d7ea49186
  Stored in directory: /root/.cache/pip/wheels/02/4f/7c/6a321192de4209adc0e12aa57867ff91671957c896246b894d
Successfully built hydrobr
Installing collected packages: hydrobr
Successfully installed hydrobr-0.1.1
Collecting pymannkendall
  Downloading pymannkendall-1.4.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from pymannkendall) (2.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from pymannkendall) (1.16.3)
Downloading pymannkendall-1.4.3-py3-none-any.whl (12 kB)
Installing collected packages: pymannkendall
Successfully installed pymannkendall-1.4.3
Requirement already satisfied: statsmodels in /usr/local/lib/python3.12/dist-packages (0.14.6)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.12/dist-packages (from statsmodels) (1.16.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.12/dist-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels) (1.0.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels) (26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (4.67.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.12/dist-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.12/dist-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.12/dist-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (26.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [ ]:
# Imports


import pandas as pd
import numpy as np
from hydrobr import get_data
from tqdm.notebook import tqdm

In [ ]:

# Lista todas as estações de precipitação disponíveis
lista_estacoes_precipitacao = get_data.ANA.list_prec_stations()
print("Total de estações:", lista_estacoes_precipitacao.shape[0])

# Exibir as 20 primeiras
lista_estacoes_precipitacao.head(20)

Total de estações: 11976

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD
0,SALINÓPOLIS,00047000,2,32,SALINÓPOLIS,PARÁ,INMET,-0.6500,-47.5500,1958/01/01,1964/12/31,7,25.0,0,100.0
1,SALINÓPOLIS,00047002,2,32,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536,1977/12/09,2019/08/31,43,3.5,35,18.6
2,CURUÇA,00047003,2,32,CURUÇA,PARÁ,ANA,-0.7375,-47.8536,1981/07/01,2019/07/31,39,2.4,29,25.6
3,PRIMAVERA,00047004,2,32,PRIMAVERA,PARÁ,ANA,-0.9294,-47.0994,1982/02/18,2019/08/31,38,0.0,35,7.9
4,MARUDA,00047005,2,32,MARAPANIM,PARÁ,ANA,-0.6336,-47.6583,1989/08/21,2019/07/31,31,5.0,20,35.5
5,SÃO JOÃO DE PIRABAS,00047006,2,32,SÃO JOÃO DE PIRABAS,PARÁ,ANA,-0.7747,-47.1775,1989/08/30,2019/08/31,31,0.4,25,19.4
6,MAGALHÃES BARATA,00047007,2,31,MAGALHÃES BARATA,PARÁ,ANA,-0.7944,-47.5997,1995/11/17,2019/08/31,25,1.4,20,20.0
7,SOURE (ILHA DE MARAJÓ),00048000,2,19,SOURE,PARÁ,INMET,-0.7278,-48.5158,1961/01/01,1998/12/31,38,3.2,26,31.6
8,CÂMARA,00048002,2,19,CACHOEIRA DO ARARI,PARÁ,IDESP,-0.9000,-48.6333,1971/09/21,1982/12/31,12,0.0,9,25.0
9,FAZENDA TAPERA (MARAJÓ),00048003,2,19,SOURE,PARÁ,IDESP,-0.5500,-48.7833,1971/01/01,1982/12/31,12,9.6,8,33.3
10,FAZENDA LIVRAMENTO,00048004,2,19,SOURE,PARÁ,IDESP,-0.3333,-48.5167,1974/05/01,1982/12/31,9,0.0,8,11.1
11,MANDUBE,00048005,2,19,CHAVES,PARÁ,IDESP,-0.2000,-48.9167,1977/06/01,1982/05/31,6,11.9,0,100.0
12,VIGIA,00048006,2,31,VIGIA,PARÁ,ANA,-0.8681,-48.1103,1982/02/11,2019/07/31,38,0.4,32,15.8
13,ANAJÁS (ILHA DO MARAJÓ),00049000,2,19,ANAJÁS,PARÁ,IDESP,-0.9833,-49.9500,1968/07/17,1981/07/31,14,23.6,4,71.4
14,SANTA CRUZ DO ARARI (I. MARAJÓ),00049001,2,19,SANTA CRUZ DO ARARI,PARÁ,IDESP,-0.6167,-49.1667,1968/05/30,2003/12/31,36,61.4,10,72.2
15,TUYUYU,00049002,2,19,CACHOEIRA DO ARARI,PARÁ,IDESP,-0.8167,-49.1500,1972/04/21,1981/08/31,10,17.8,4,60.0
16,FAZENDA SÃO SEBASTIÃO,00049003,2,19,PONTA DE PEDRAS,PARÁ,IDESP,-0.8333,-49.7667,1973/02/13,1982/11/30,10,0.2,6,40.0
17,ARAPIXI,00049004,2,19,CHAVES,PARÁ,IDESP,-0.2167,-49.4667,1972/05/01,1982/12/31,11,10.1,8,27.3
18,FAZENDA CAJUEIRO (MARAJÓ),00049006,2,19,CHAVES,PARÁ,IDESP,-0.2500,-49.2667,1974/01/24,1982/12/31,9,13.1,2,77.8
19,SANTA LUZIA,00049007,2,19,CHAVES,PARÁ,IDESP,-0.4000,-49.9000,1977/06/03,1981/12/31,5,0.8,2,60.0

In [ ]:
cidade = "Campo Grande"
filtro = lista_estacoes_precipitacao[
    lista_estacoes_precipitacao["City"].str.upper() == cidade.upper()
]

print(f"Estações encontradas em {cidade}:")
filtro

Estações encontradas em Campo Grande:

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD
3216,OLHO D'ÁGUA DO CAMPO,00936071,2,49,CAMPO GRANDE,ALAGOAS,CODEVASF,-9.9333,-36.8000,1963/11/01,1973/01/31,11,43.5,2,81.8
3217,POÇO D'ANTAS,00936072,2,49,CAMPO GRANDE,ALAGOAS,CODEVASF,-9.9833,-36.7333,1967/06/01,1974/03/31,8,12.1,4,50.0
3530,POÇO DOS BOIS,01036044,2,49,CAMPO GRANDE,ALAGOAS,CODEVASF,-10.0333,-36.7333,1963/08/01,1975/04/30,13,26.2,6,53.8
6911,CAMPO GRANDE,02054000,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,INMET,-20.4442,-54.7225,1933/04/01,1998/12/31,66,61.4,19,71.2
6912,CAMPO GRANDE (SBCG),02054001,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,DEPV,-20.4667,-54.6667,1949/12/01,1984/12/31,36,12.4,29,19.4
6917,CAIXA DÁGUA,02054010,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1976/01/01,1994/08/27,19,23.4,12,36.8
6918,LAGEADO - TOMADA D'ÁGUA - SAEE,02054011,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1974/04/01,1994/08/27,21,55.4,3,85.7
6919,USINA DE TRATAMENTO - SAEE,02054012,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1976/08/01,1994/08/29,19,56.1,3,84.2
6920,CONJUNTO FERROVIÁRIOS - SAEE,02054013,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1976/04/08,1989/07/31,14,48.9,4,71.4
6921,DNOS - 8.DRS,02054014,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4517,-54.6275,1976/01/01,2019/08/31,44,25.1,28,36.4
6922,RUA SÃO PAULO 565 - SAEE,02054015,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1976/01/29,1983/01/31,8,31.8,0,100.0
6923,RUA PRÓPRIA 44,02054016,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,DNOS,-20.4500,-54.6333,1976/04/08,1983/06/30,8,10.3,5,37.5
6924,RUA BAHIA 400 - SAEE,02054017,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1976/01/01,1994/07/31,19,63.5,2,89.5
6925,RUA DAS PAINEIRAS - SAEE,02054018,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-20.4500,-54.6333,1978/01/01,1982/12/31,5,4.7,3,40.0
7664,FAZENDA DIVISA,02153005,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-21.2114,-53.9569,1995/02/26,2019/11/30,25,5.7,16,36.0
7671,FAZENDA PONTE,02154008,2,63,CAMPO GRANDE,MATO GROSSO DO SUL,ANA,-21.3019,-54.1994,1984/02/17,2019/11/30,36,13.3,21,41.7

In [ ]:
cidade_parcial = "Miran"
filtro_parcial = lista_estacoes_precipitacao[
    lista_estacoes_precipitacao["City"].str.contains(cidade_parcial, case=False, na=False)
]

print("Estações com nome que contém:", cidade_parcial)
filtro_parcial

Estações com nome que contém: Miran

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD
634,MIRANDA,00344012,2,33,MIRANDA DO NORTE,MARANHÃO,ANA,-3.5497,-44.5833,1984/04/16,2019/11/30,36,0.5,32,11.1
844,GUARAMIRANGA,00438100,2,35,GUARAMIRANGA,CEARÁ,FUNCEME-CE,-4.2667,-38.9333,1974/01/01,2019/12/31,46,0.6,42,8.7
870,BOTIJA,00438127,2,35,GUARAMIRANGA,CEARÁ,FUNCEME-CE,-4.2472,-38.9414,2017/01/01,2020/02/29,4,28.9,1,75.0
907,GUARAMIRANGA,00439040,2,35,GUARAMIRANGA,CEARÁ,INMET,-4.4667,-38.9500,1961/01/01,1985/12/31,25,27.8,14,44.0
2926,AÇUDE SERRINHA,00838002,2,48,MIRANDIBA,PERNAMBUCO,ANA,-8.2397,-38.5278,1962/11/01,2019/10/31,58,0.4,51,12.1
2930,CARNAUBEIRA,00838006,2,48,MIRANDIBA,PERNAMBUCO,SUDENE,-8.0167,-38.8833,1962/11/01,1991/04/30,30,7.9,21,30.0
2948,MIRANDIBA (SÃO JOÃO DE CAMPOS),00838025,2,48,MIRANDIBA,PERNAMBUCO,APAC-PE,-8.1167,-38.7333,1962/11/01,1993/10/31,32,1.1,26,18.8
2955,AÇUDE SERRINHA,00838036,2,48,MIRANDIBA,PERNAMBUCO,ANA,-8.2333,-38.5333,1973/03/01,1974/11/30,2,37.2,0,100.0
3660,MIRANGABA (RIACHUELO),01040006,2,50,MIRANGABA,BAHIA,DNOCS,-10.9539,-40.5753,1959/09/01,2000/11/30,42,18.6,28,33.3
3670,TAQUARANDI,01040016,2,47,MIRANGABA,BAHIA,SUDENE,-10.8900,-40.6997,1963/01/01,2000/05/31,38,12.5,28,26.3
3682,TAQUARENDI,01040030,2,47,MIRANGABA,BAHIA,INEMA-BA,-10.8919,-40.6856,2000/04/27,2012/06/17,13,39.9,0,100.0
3685,MIRANGABA,01040033,2,50,MIRANGABA,BAHIA,INEMA-BA,-10.9531,-40.5731,2000/04/27,2014/03/19,15,30.2,3,80.0
3699,BELA VISTA,01041010,2,47,MIRANGABA,BAHIA,SUDENE,-10.9856,-40.7481,1963/09/01,2000/12/31,38,18.6,23,39.5
3802,MIRANTE DA SERRA,01062003,2,15,MIRANTE DA SERRA,RONDÔNIA,ANA,-11.0036,-62.6561,1983/08/18,2019/08/31,37,5.4,25,32.4
4766,MIRANTE,01440011,2,52,MIRANTE,BAHIA,SUDENE,-14.2394,-40.7725,1959/07/01,2000/03/31,42,27.2,26,38.1
4774,UHE PEDRA AREIÃO,01440019,2,52,MIRANTE,BAHIA,CHESF,-14.0294,-40.9811,1964/01/01,1997/06/30,34,19.1,23,32.4
4784,AREIÃO,01440032,2,52,MIRANTE,BAHIA,ANA,-14.0339,-40.9675,1985/02/10,2019/11/30,35,1.0,22,37.1
6351,BODOQUENA,01956005,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-19.8708,-56.9836,1954/01/01,2019/09/30,66,20.1,41,37.9
6352,PORTO CARREIRO (PARTICULAR),01956006,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-19.9500,-56.8833,1964/04/14,1983/12/31,20,26.5,8,60.0
6886,PRIMEIRA ALIANÇA,02051031,2,62,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-20.0000,-51.0000,1959/07/01,1971/12/31,13,8.0,11,15.4
6887,SEGUNDA ALIANÇA,02051032,2,62,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-20.9333,-51.1167,1958/05/01,2014/12/31,57,1.0,47,17.5
6888,TERCEIRA ALIANÇA,02051033,2,62,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-20.9167,-51.0167,1958/05/02,1999/10/27,42,0.1,35,16.7
6934,MIRANDA,02056001,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-20.2408,-56.3958,1965/11/17,2019/09/30,55,25.7,26,52.7
6936,TAPERA (PARTICULAR),02056004,2,66,MIRANDA,MATO GROSSO DO SUL,DNOS,-20.3500,-56.7000,1964/01/26,1971/09/30,8,2.2,4,50.0
6937,GUAICURUS,02056005,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-20.1019,-56.7953,1926/10/01,2019/09/30,94,20.2,61,35.1
6938,MIRANDA,02056006,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-20.2333,-56.3833,1965/11/17,1989/11/30,25,34.6,13,48.0
7629,MIRANDÓPOLIS (EFNOB),02151036,2,63,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-21.1333,-51.1000,1944/03/01,1969/10/30,26,19.3,9,65.4
7630,AMANDABA (EFNOB),02151037,2,63,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-21.1000,-51.1667,1944/03/01,1966/09/30,23,38.4,5,78.3
7637,FAZENDA SANTA MARIA,02151048,2,63,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-21.2167,-51.3000,1970/08/01,2001/01/31,32,6.4,21,34.4
7642,GRANJA YUBA,02151053,2,62,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-21.0167,-51.1000,1958/01/01,2018/05/31,61,4.2,51,16.4
7644,MIRANDÓPOLIS,02151055,2,63,MIRANDÓPOLIS,SÃO PAULO,DAEE-SP,-21.1333,-51.1000,1972/08/10,2018/05/31,47,0.4,39,17.0
8887,MIRANTE DO PARANAPANEMA,02251012,2,64,MIRANTE DO PARANAPA,SÃO PAULO,DAEE-SP,-22.3000,-51.9167,1955/01/01,2014/12/08,60,0.7,55,8.3
8963,CUIABÁ PAULISTA,02252035,2,64,MIRANTE DO PARANAPA,SÃO PAULO,DAEE-SP,-22.3000,-52.0833,1970/08/01,2014/02/28,45,4.0,30,33.3
10627,MONTANTE ATERRO SANITÁRIO (JURUQUI),02549077,2,65,ALMIRANTE TAMANDARÉ,PARANÁ,ANA,-25.3519,-49.3447,1984/09/15,2017/08/31,34,5.7,29,14.7
10644,ALMIRANTE TAMANDARE,02549100,2,65,ALMIRANTE TAMANDARÉ,PARANÁ,AGUASPARANÁ,-25.3167,-49.3000,1997/11/01,2017/09/30,21,7.1,17,19.0
10649,AREIAS,02549107,2,81,ALMIRANTE TAMANDARÉ,PARANÁ,AGUASPARANÁ,-25.2500,-49.3000,1997/06/01,2017/08/31,21,11.2,13,38.1

In [ ]:
# 2 Coleta de Dados - Lista de municípios do Pantanal e normalização
# Lista oficial de municípios pantaneiros
municipios_pantanal = [
    "BARÃO DE MELGAÇO","CÁCERES","LAMBARI D’OESTE","POCONÉ",
    "NOSSA SENHORA DO LIVRAMENTO","SANTO ANTÔNIO DO LEVERGER","ITIQUIRA",
    "CORUMBÁ","LADÁRIO","AQUIDAUANA","MIRANDA","BODOQUENA",
    "PORTO MURTINHO","RIO VERDE DE MATO GROSSO","SONORA","COXIM",
    # "Porto Esperidião", #vinculada a região Pantaneira
    # "Porto Estrela", #vinculada a região Pantaneira"
]

# Normalizar texto para evitar problemas com acentos e maiúsculas/minúsculas
lista_estacoes_precipitacao["City_norm"] = (
    lista_estacoes_precipitacao["City"]
    .str.upper()
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
)

municipios_norm = [
    m.upper().encode('ascii', errors='ignore').decode('utf-8')
    for m in municipios_pantanal
]

# Filtrar apenas as estações do Pantanal
estacoes_pantanal = lista_estacoes_precipitacao[
    lista_estacoes_precipitacao["City_norm"].isin(municipios_norm)
]

print("Estações encontradas nas cidades do Pantanal:", estacoes_pantanal.shape[0])
estacoes_pantanal

Estações encontradas nas cidades do Pantanal: 32

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD,City_norm
5755,ITIQUIRA,01754000,2,66,ITIQUIRA,MATO GROSSO,ANA,-17.2078,-54.1400,1965/11/22,2019/11/30,55,0.2,49,10.9,ITIQUIRA
5756,PIQUIRI,01754001,2,66,ITIQUIRA,MATO GROSSO,ANA,-17.7500,-54.3333,1974/11/24,1979/12/31,6,14.0,4,33.3,ITIQUIRA
5757,POSTO CORRENTES (MT-163),01754002,2,66,SONORA,MATO GROSSO DO SUL,ANA,-17.5869,-54.7567,1969/08/14,2019/09/30,51,35.5,22,56.9,SONORA
5758,ACAMPAMENTO ITIQUIRA,01754003,2,66,ITIQUIRA,MATO GROSSO,ANA,-17.0833,-54.7833,1970/09/01,1983/12/31,14,9.5,5,64.3,ITIQUIRA
5760,SANTO ANTÔNIO DO PARAÍSO,01755000,2,66,ITIQUIRA,MATO GROSSO,ANA,-17.4917,-55.2322,1969/03/02,2018/03/31,50,22.1,31,38.0,ITIQUIRA
5764,SÃO JERÔNIMO,01755004,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-17.1667,-55.9833,1963/10/18,1989/07/31,27,2.5,19,29.6,AQUIDAUANA
5765,SANTA TEREZA,01755005,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-17.0000,-55.0000,1982/09/28,1983/12/31,2,7.0,1,50.0,AQUIDAUANA
6001,CACHOEIRA POLVORA,01853002,2,66,COXIM,MATO GROSSO DO SUL,ANA,-18.1906,-54.2578,1971/02/05,2019/09/30,49,26.6,31,36.7,COXIM
6005,COXIM,01854000,2,66,COXIM,MATO GROSSO DO SUL,INMET,-18.5042,-54.7347,1975/01/01,1994/01/31,20,37.2,9,55.0,COXIM
6008,JAURU,01854003,2,66,COXIM,MATO GROSSO DO SUL,ANA,-18.6492,-54.3572,1971/02/03,2019/09/30,49,24.1,23,53.1,COXIM
6009,COXIM,01854004,2,66,COXIM,MATO GROSSO DO SUL,ANA,-18.5042,-54.7556,1965/11/21,2019/09/30,55,37.1,27,50.9,COXIM
6010,COXIM,01854005,2,66,COXIM,MATO GROSSO DO SUL,DNOS,-18.5000,-54.9333,1965/11/21,1978/09/30,14,15.5,10,28.6,COXIM
6012,FAZENDA SÃO GONÇALO (PARTIC.),01855000,2,66,COXIM,MATO GROSSO DO SUL,ANA,-18.3500,-55.8500,1955/01/01,1989/03/31,35,24.7,24,31.4,COXIM
6345,IGUAÇU,01955000,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-19.9447,-55.7944,1975/01/26,2019/07/31,45,18.9,27,40.0,AQUIDAUANA
6349,ENTRE RIOS,01956003,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-19.6967,-56.2828,1958/07/01,2019/09/30,62,24.7,34,45.2,AQUIDAUANA
6351,BODOQUENA,01956005,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-19.8708,-56.9836,1954/01/01,2019/09/30,66,20.1,41,37.9,MIRANDA
6352,PORTO CARREIRO (PARTICULAR),01956006,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-19.9500,-56.8833,1964/04/14,1983/12/31,20,26.5,8,60.0,MIRANDA
6353,SÃO SEBASTIÃO,01956008,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-19.3592,-56.4092,1975/01/01,2017/12/26,43,24.2,22,48.8,AQUIDAUANA
6929,AQUIDAUANA,02055000,2,66,AQUIDAUANA,MATO GROSSO DO SUL,INMET,-20.4567,-55.6714,1913/03/09,1998/06/30,86,25.2,41,52.3,AQUIDAUANA
6930,CIPOLÂNDIA,02055001,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-20.1278,-55.3933,1969/11/03,2019/07/31,51,20.6,30,41.2,AQUIDAUANA
6933,TABOCO,02055004,2,66,AQUIDAUANA,MATO GROSSO DO SUL,ANA,-20.0703,-55.6453,1973/01/25,2019/07/31,47,17.3,30,36.2,AQUIDAUANA
6934,MIRANDA,02056001,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-20.2408,-56.3958,1965/11/17,2019/09/30,55,25.7,26,52.7,MIRANDA
6936,TAPERA (PARTICULAR),02056004,2,66,MIRANDA,MATO GROSSO DO SUL,DNOS,-20.3500,-56.7000,1964/01/26,1971/09/30,8,2.2,4,50.0,MIRANDA
6937,GUAICURUS,02056005,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-20.1019,-56.7953,1926/10/01,2019/09/30,94,20.2,61,35.1,MIRANDA
6938,MIRANDA,02056006,2,66,MIRANDA,MATO GROSSO DO SUL,ANA,-20.2333,-56.3833,1965/11/17,1989/11/30,25,34.6,13,48.0,MIRANDA
6939,SANTA ROSA,02056007,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,ANA,-21.0319,-56.9881,1982/02/01,2019/07/31,38,28.9,12,68.4,PORTO MURTINHO
7677,PORTO MURTINHO,02157000,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,INMET,-21.7000,-57.8833,1977/09/01,1993/07/31,17,47.1,2,88.2,PORTO MURTINHO
7678,ESPERANÇA,02157002,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,DNOS,-20.7833,-57.0333,1971/07/05,1972/12/31,2,27.3,0,100.0,PORTO MURTINHO
7679,SANTA OTÍLIA,02157003,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,ANA,-21.1919,-57.0392,1970/10/13,2019/07/31,50,26.9,23,54.0,PORTO MURTINHO
7680,PORTO MURTINHO,02157004,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,ANA,-21.7014,-57.8917,1966/01/01,2019/10/31,54,30.3,23,57.4,PORTO MURTINHO
7681,MARABÁ,02157005,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,ANA,-21.6889,-57.3597,1976/01/01,2019/07/31,44,21.1,21,52.3,PORTO MURTINHO
7682,BARRANCO BRANCO,02157006,2,67,PORTO MURTINHO,MATO GROSSO DO SUL,ANA,-21.0989,-57.8447,1980/05/18,2019/02/28,40,36.6,12,70.0,PORTO MURTINHO

In [ ]:
# Listar de todos os métodos disponíveis para ANA
dir(get_data.ANA)

['_ANA__data_ana',
 '_ANA__list_ana',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'flow_data',
 'list_flow_stations',
 'list_prec_stations',
 'prec_data',
 'stage_data']

In [ ]:
# Verificação da documentação dentro do Colab:
help(get_data.ANA)

Help on class ANA in module hydrobr.get_data:

class ANA(builtins.object)
 |  It provides a connection with the Brazilian National Water Agency (Agência Nacional de Águas - ANA) database
 |
 |  Static methods defined here:
 |
 |  flow_data(list_station, only_consisted=False)
 |      Get the flow station data series from a list of stations code of the Brazilian National Water Agency
 |      (ANA) database.
 |
 |      Parameters
 |      ----------
 |      list_station : list of strings
 |          A list of with the stations code as strings.
 |      only_consisted : boolean, default False
 |          If True, returns only the data classified as consistent by the provider.
 |
 |      Returns
 |      -------
 |      data_stations : pandas DataFrame
 |          The data os each station as a column in a pandas DataFrame
 |
 |  list_flow_stations(state='', city='', source='ANAF')
 |      Searches for flow/stage stations registered at the Brazilian National Agency of Water inventory.
 |
 |      Parameters
 |      ----------
 |      state : string
 |          Brazilian state name where the stations are located (e.g., Rio de Janeiro)
 |      city : string
 |          Brazilian city name where the stations are located (e.g., Rio de Itaperuna)
 |      source: string, default 'ANAF'
 |          The source to look for the data. 'ANA' to get the list of stations from the Brazilian National Water Agency
 |          (ANA) database, or 'ANAF' to get the filtered list of stations that contain only the stations from ANA
 |          with registered data.
 |          More information about ANAF: https://doi.org/10.5281/zenodo.3755065
 |
 |      Returns
 |      -------
 |      list_stations : pandas DataFrame
 |          The selected list of stations as a pandas DataFrame
 |
 |  list_prec_stations(state='', city='', source='ANAF')
 |      Searches for precipitation stations registered at the Brazilian National Agency of Water (ANA)
 |
 |      Parameters
 |      ----------
 |      state : string
 |          Brazilian state name where the stations are located (e.g., Rio de Janeiro)
 |      city : string
 |          Brazilian city name where the stations are located (e.g., Rio de Itaperuna)
 |      source: string, default 'ANA'
 |          The source to look for the data. 'ANA' to get the list of stations from the Brazilian National Water Agency
 |          (ANA) database, or 'ANAF' to get the filtered list of stations that contain only the stations from ANA
 |          with registered data.
 |          More information about ANAF: https://doi.org/10.5281/zenodo.3755065
 |
 |      Returns
 |      -------
 |      list_stations : pandas DataFrame
 |          The selected list of stations as a pandas DataFrame
 |
 |  prec_data(list_station, only_consisted=False)
 |      Get the precipitation station data series from a list of stations code.
 |
 |      Parameters
 |      ----------
 |      list_station : list of strings
 |          A list of with the stations code as strings.
 |      only_consisted : boolean, default False
 |          If True, returns only the data classified as consistent by the provider.
 |
 |      Returns
 |      -------
 |      data_stations : pandas DataFrame
 |          The data os each station as a column in a pandas DataFrame
 |
 |  stage_data(list_station, only_consisted=False)
 |      Get the stage station data series from a list of stations code of the Brazilian National Water Agency
 |      (ANA) database.
 |
 |      Parameters
 |      ----------
 |      list_station : list of strings
 |          A list of with the stations code as strings.
 |      only_consisted : boolean, default False
 |          If True, returns only the data classified as consistent by the provider.
 |
 |      Returns
 |      -------
 |      data_stations : pandas DataFrame
 |          The data os each station as a column in a pandas DataFrame
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

list_flow_stations() é o método correto para listar estações de vazão.

flow_data() recebe uma lista de códigos mesmo que seja só um código por vez.

Normalizamos os nomes das cidades (City_norm) para filtrar apenas os municípios pantaneiros.

Consolidamos todas as séries em um DataFrame único (df_flu_all), pronto para análise.

In [ ]:
# -------------------------------
# Importações
# -------------------------------
import pandas as pd
import numpy as np
from hydrobr import get_data
from tqdm.notebook import tqdm
import unicodedata

# -------------------------------
# 1️⃣ Lista oficial de municípios do Pantanal
# -------------------------------
municipios_pantanal = [
    "BARÃO DE MELGAÇO","CÁCERES","LAMBARI D’OESTE","POCONÉ",
    "NOSSA SENHORA DO LIVRAMENTO","SANTO ANTÔNIO DO LEVERGER","ITIQUIRA",
    "CORUMBÁ","LADÁRIO","AQUIDAUANA","MIRANDA","BODOQUENA",
    "PORTO MURTINHO","RIO VERDE DE MATO GROSSO","SONORA","COXIM"
]

# Função de normalização de texto
# def normalize_txt(txt):
#    return txt.upper().normalize('NFKD').encode('ascii', errors='ignore').decode('utf-8')

def normalize_txt(txt):
    # Garantir que txt é string
    txt = str(txt)
    # Normalizar acentos
    txt = unicodedata.normalize('NFKD', txt)
    # Remover caracteres não ASCII e converter para maiúsculas
    txt = txt.encode('ascii', errors='ignore').decode('utf-8').upper()
    return txt


# Normalizar lista de municípios
municipios_norm = [normalize_txt(m) for m in municipios_pantanal]
print(municipios_norm)

# -------------------------------
# 2️⃣ Estações de precipitação
# -------------------------------
lista_prec = get_data.ANA.list_prec_stations()  # todas as estações de precipitação
lista_prec["City_norm"] = lista_prec["City"].apply(normalize_txt)

# Filtrar apenas municípios do Pantanal
estacoes_prec_pantanal = lista_prec[lista_prec["City_norm"].isin(municipios_norm)].copy()
print("Estações de precipitação no Pantanal:", estacoes_prec_pantanal.shape[0])

# Baixar séries de precipitação
dados_prec = {}
for codigo in tqdm(estacoes_prec_pantanal["Code"].astype(str), desc="Baixando precipitação"):
    try:
        df = get_data.ANA.prec_data([codigo], only_consisted=False)  # recebe lista
        df.index = pd.to_datetime(df.index)  # padronizar índice temporal
        dados_prec[codigo] = df
    except Exception as e:
        print(f"Erro ao baixar {codigo}: {e}")

# Consolidar todas as séries em um único DataFrame
df_prec_all = pd.concat(dados_prec.values(), keys=dados_prec.keys(), names=["Code", "Date"])
df_prec_all.reset_index(inplace=True)

# -------------------------------
# 3️⃣ Estações de vazão (flow)
# -------------------------------
lista_flu = get_data.ANA.list_flow_stations()  # método correto
lista_flu["City_norm"] = lista_flu["City"].apply(normalize_txt)

# Filtrar municípios do Pantanal
estacoes_flu_pantanal = lista_flu[lista_flu["City_norm"].isin(municipios_norm)].copy()
codigos_flu = estacoes_flu_pantanal["Code"].astype(str).tolist()
print("Estações de vazão no Pantanal:", len(codigos_flu))

# Baixar séries de vazão
dados_flu = {}
for codigo in tqdm(codigos_flu, desc="Baixando vazão"):
    try:
        df = get_data.ANA.flow_data([codigo], only_consisted=False)  # recebe lista de códigos
        df.index = pd.to_datetime(df.index)
        dados_flu[codigo] = df
    except Exception as e:
        print(f"Erro ao baixar {codigo}: {e}")

# Consolidar em único DataFrame
df_flu_all = pd.concat(dados_flu.values(), keys=dados_flu.keys(), names=["Code", "Date"])
df_flu_all.reset_index(inplace=True)

# -------------------------------
# 4️⃣ Visualização inicial
# -------------------------------
print("Pré-visualização - Precipitação")
display(df_prec_all.head())

print("Pré-visualização - Vazão")
display(df_flu_all.head())

['BARAO DE MELGACO', 'CACERES', 'LAMBARI DOESTE', 'POCONE', 'NOSSA SENHORA DO LIVRAMENTO', 'SANTO ANTONIO DO LEVERGER', 'ITIQUIRA', 'CORUMBA', 'LADARIO', 'AQUIDAUANA', 'MIRANDA', 'BODOQUENA', 'PORTO MURTINHO', 'RIO VERDE DE MATO GROSSO', 'SONORA', 'COXIM']
Estações de precipitação no Pantanal: 87

Baixando precipitação:   0%|          | 0/87 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.03it/s]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.69s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.28s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.53s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.93s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.19s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.40s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.47s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.51s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.84s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.02s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:06<00:00,  6.95s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.62s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.20s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  4.00s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.27s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.09s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.22s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.12s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.47s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:05<00:00,  5.53s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.55s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.28s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.33s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.12s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.36s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.04s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.42s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.00s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.96s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.44s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.78s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.47s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.29s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.74s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.95s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.11s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.02s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.11s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.75s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.02s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.32s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.01s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.19s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.49s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.84s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.12s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.31s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.54s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.69s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.27s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.55s/it]


Estações de vazão no Pantanal: 48

Baixando vazão:   0%|          | 0/48 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.75s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.22s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.57s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.55s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.69s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.96s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.77s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:07<00:00,  7.62s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:18<00:00, 18.41s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.04s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.04s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.80s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.76s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.71s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.66s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.40s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.62s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.84s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.78s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.14s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  2.07it/s]

Erro ao baixar 66523000: No objects to concatenate

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.12s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.20s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.67s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.80s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.96s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.66s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.74s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.57s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.19s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.86s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.63s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.40s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.84s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.74s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.10s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.55s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.56s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.97s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.33s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.65s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.08s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.03s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.37s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.81s/it]

Pré-visualização - Precipitação

,Code,Date,01557002,01557004,01558002,01559005,01655000,01655002,01655004,01656000,...,02056007,02057000,02057001,02058001,02157000,02157002,02157003,02157004,02157005,02157006
0,01557002,1968-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01557002,1968-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01557002,1968-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01557002,1968-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01557002,1968-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Pré-visualização - Vazão

,Code,Date,66065000,66070004,66071300,66076000,66090000,66110000,66120000,66126000,...,66945000,66960008,66970000,67006000,67025000,67030000,67050000,67100000,67175000,67176000
0,66065000,1969-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66065000,1969-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,66065000,1969-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,66065000,1969-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,66065000,1969-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# -------------------------------
# Importações
# -------------------------------
import pandas as pd
import numpy as np
from hydrobr import get_data
from tqdm.notebook import tqdm
import unicodedata
from scipy.stats import zscore
import os

# Criar pasta de exportação
if not os.path.exists("export"):
    os.makedirs("export")

# -------------------------------
# Função de normalização de texto
# -------------------------------
def normalize_txt(txt):
    txt = str(txt)
    txt = unicodedata.normalize('NFKD', txt)
    txt = txt.encode('ascii', errors='ignore').decode('utf-8').upper()
    return txt

# -------------------------------
# Lista oficial de municípios do Pantanal
# -------------------------------
municipios_pantanal = [
    "BARÃO DE MELGAÇO","CÁCERES","LAMBARI D’OESTE","POCONÉ",
    "NOSSA SENHORA DO LIVRAMENTO","SANTO ANTÔNIO DO LEVERGER","ITIQUIRA",
    "CORUMBÁ","LADÁRIO","AQUIDAUANA","MIRANDA","BODOQUENA",
    "PORTO MURTINHO","RIO VERDE DE MATO GROSSO","SONORA","COXIM"
]
municipios_norm = [normalize_txt(m) for m in municipios_pantanal]

# -------------------------------
# 1️⃣ Estações de precipitação
# -------------------------------
lista_prec = get_data.ANA.list_prec_stations()
lista_prec["City_norm"] = lista_prec["City"].apply(normalize_txt)
estacoes_prec_pantanal = lista_prec[lista_prec["City_norm"].isin(municipios_norm)].copy()
print("Estações de precipitação no Pantanal:", estacoes_prec_pantanal.shape[0])

# Baixar séries de precipitação
dados_prec = {}
for codigo in tqdm(estacoes_prec_pantanal["Code"].astype(str), desc="Baixando precipitação"):
    try:
        df = get_data.ANA.prec_data([codigo], only_consisted=False)
        df.index = pd.to_datetime(df.index)
        if not df.empty:
            # Interpolação linear para valores faltantes
            df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')
            # Z-score
            df_z = df.apply(zscore)
            df_z.columns = [f"{c}_zscore" for c in df_z.columns]
            # Percentis para cheias/secas
            df_perc = df.rank(pct=True)
            df_perc.columns = [f"{c}_percentile" for c in df_perc.columns]
            # Concatenar normal, zscore e percentis
            df_final = pd.concat([df, df_z, df_perc], axis=1)
            dados_prec[codigo] = df_final
    except Exception as e:
        print(f"Erro ao baixar {codigo}: {e}")

# Concatenar todas as séries de precipitação
dfs_validos = [df for df in dados_prec.values() if not df.empty]
df_prec_all = pd.concat(dfs_validos, keys=dados_prec.keys(), names=["Code", "Date"])
df_prec_all.reset_index(inplace=True)

# Exportar para Excel
df_prec_all.to_excel("export/precipitacao_pantanal.xlsx", index=False)
print("✅ Precipitação exportada para export/precipitacao_pantanal.xlsx")

# -------------------------------
# 2️⃣ Estações de vazão (flow)
# -------------------------------
lista_flu = get_data.ANA.list_flow_stations()
lista_flu["City_norm"] = lista_flu["City"].apply(normalize_txt)
estacoes_flu_pantanal = lista_flu[lista_flu["City_norm"].isin(municipios_norm)].copy()
codigos_flu = estacoes_flu_pantanal["Code"].astype(str).tolist()
print("Estações de vazão no Pantanal:", len(codigos_flu))

dados_flu = {}
for codigo in tqdm(codigos_flu, desc="Baixando vazão"):
    try:
        df = get_data.ANA.flow_data([codigo], only_consisted=False)
        df.index = pd.to_datetime(df.index)
        if not df.empty:
            # Interpolação linear para valores faltantes
            df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')
            # Z-score
            df_z = df.apply(zscore)
            df_z.columns = [f"{c}_zscore" for c in df_z.columns]
            # Percentis para cheias/secas
            df_perc = df.rank(pct=True)
            df_perc.columns = [f"{c}_percentile" for c in df_perc.columns]
            # Concatenar normal, zscore e percentis
            df_final = pd.concat([df, df_z, df_perc], axis=1)
            dados_flu[codigo] = df_final
    except Exception as e:
        print(f"Erro ao baixar {codigo}: {e}")

# Concatenar todas as séries de vazão
dfs_validos_flu = [df for df in dados_flu.values() if not df.empty]
df_flu_all = pd.concat(dfs_validos_flu, keys=dados_flu.keys(), names=["Code", "Date"])
df_flu_all.reset_index(inplace=True)

# Exportar para Excel
df_flu_all.to_excel("export/vazao_pantanal.xlsx", index=False)
print("✅ Vazão exportada para export/vazao_pantanal.xlsx")

Estações de precipitação no Pantanal: 87

Baixando precipitação:   0%|          | 0/87 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.05it/s]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.58s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.26s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.54s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.24s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.76s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.68s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.10s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.66s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.38s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.36s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.74s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:06<00:00,  6.67s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.62s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.22s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.10s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.38s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.06it/s]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.21s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.84s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.43s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:05<00:00,  5.05s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.52s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.36s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.17s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.05s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.80s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.04s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.15s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.01it/s]
/tmp/ipython-input-3652287126.py:52: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.interpolate(method='time').fillna(method='bfill').fillna(method='ffill')


ValueError: This sheet is too large! Your sheet size is: 1253700, 263 Max sheet size is: 1048576, 16384

Função preprocess_df:

Filtra DataFrames vazios

Interpola dados faltantes

Calcula STL (trend, seasonal, resid)

Calcula z-score e percentis

Função export_dfs_to_excel:

Exporta múltiplos DataFrames em um único arquivo Excel

Divide em várias planilhas se ultrapassar 1 milhão de linhas

Limita nomes das abas a 31 caracteres

Substitui a exportação direta to_excel pelo pipeline robusto acima

Mantém a estrutura de download das estações de precipitação e vazão

In [ ]:
# -------------------------------
# Importações
# -------------------------------
import pandas as pd
import numpy as np
from hydrobr import get_data
from tqdm.notebook import tqdm
import unicodedata
from scipy.stats import zscore
from statsmodels.tsa.seasonal import STL
import math
import os

# Criar pasta de exportação
EXPORT_PATH = "export"
if not os.path.exists(EXPORT_PATH):
    os.makedirs(EXPORT_PATH)

# -------------------------------
# Função de normalização de texto
# -------------------------------
def normalize_txt(txt):
    txt = str(txt)
    txt = unicodedata.normalize('NFKD', txt)
    txt = txt.encode('ascii', errors='ignore').decode('utf-8').upper()
    return txt

# -------------------------------
# Lista oficial de municípios do Pantanal
# -------------------------------
municipios_pantanal = [
    "BARÃO DE MELGAÇO","CÁCERES","LAMBARI D’OESTE","POCONÉ",
    "NOSSA SENHORA DO LIVRAMENTO","SANTO ANTÔNIO DO LEVERGER","ITIQUIRA",
    "CORUMBÁ","LADÁRIO","AQUIDAUANA","MIRANDA","BODOQUENA",
    "PORTO MURTINHO","RIO VERDE DE MATO GROSSO","SONORA","COXIM"
]
municipios_norm = [normalize_txt(m) for m in municipios_pantanal]

# -------------------------------
# Funções de pré-processamento
# -------------------------------
def preprocess_df(df, value_cols=None):
    """Filtra vazio, interpola, calcula STL, z-score e percentis"""
    if df.empty:
        return None

    df = df.sort_index().copy()

    if value_cols is None:
        value_cols = df.columns.tolist()

    # Interpolação temporal
    df[value_cols] = df[value_cols].interpolate(method='time', limit_direction='both')

    # STL
    for col in value_cols:
        stl = STL(df[col], period=12, robust=True)
        res = stl.fit()
        df[f"{col}_trend"] = res.trend
        df[f"{col}_seasonal"] = res.seasonal
        df[f"{col}_resid"] = res.resid

    # Z-score
    df_z = df[value_cols].apply(zscore)
    df_z.columns = [f"{c}_zscore" for c in df_z.columns]

    # Percentis
    df_perc = df[value_cols].rank(pct=True)
    df_perc.columns = [f"{c}_percentile" for c in df_perc.columns]

    df_final = pd.concat([df, df_z, df_perc], axis=1)
    return df_final

def export_dfs_to_excel(dfs_dict, filename, max_rows=1_000_000):
    """Exporta múltiplos DataFrames em um único Excel, dividindo em planilhas se necessário"""
    full_path = os.path.join(EXPORT_PATH, filename)
    with pd.ExcelWriter(full_path, engine="openpyxl") as writer:
        for station, df in dfs_dict.items():
            if df is None or df.empty:
                print(f"⚠️ {station}: DataFrame vazio, pulando exportação")
                continue
            num_sheets = math.ceil(len(df) / max_rows)
            for i in range(num_sheets):
                start = i * max_rows
                end = (i + 1) * max_rows
                sheet_name = f"{station}" if num_sheets == 1 else f"{station}_{i+1}"
                sheet_name = sheet_name[:31]  # limite de 31 caracteres
                df.iloc[start:end].to_excel(writer, sheet_name=sheet_name, index=True)
    print(f"✅ Exportação concluída em '{full_path}'")

# -------------------------------
# 1️⃣ Estações de precipitação
# -------------------------------
lista_prec = get_data.ANA.list_prec_stations()
lista_prec["City_norm"] = lista_prec["City"].apply(normalize_txt)
estacoes_prec_pantanal = lista_prec[lista_prec["City_norm"].isin(municipios_norm)].copy()
print("Estações de precipitação no Pantanal:", estacoes_prec_pantanal.shape[0])

dados_prec = {}
for codigo in tqdm(estacoes_prec_pantanal["Code"].astype(str), desc="Baixando precipitação"):
    try:
        df = get_data.ANA.prec_data([codigo], only_consisted=False)
        df.index = pd.to_datetime(df.index)
        if not df.empty:
            df_proc = preprocess_df(df)
            dados_prec[codigo] = df_proc
    except Exception as e:
        print(f"Erro ao baixar {codigo}: {e}")

# Exportar todas as estações de precipitação em um único Excel
export_dfs_to_excel(dados_prec, "precipitacao_pantanal.xlsx")

# -------------------------------
# 2️⃣ Estações de vazão
# -------------------------------
lista_flu = get_data.ANA.list_flow_stations()
lista_flu["City_norm"] = lista_flu["City"].apply(normalize_txt)
estacoes_flu_pantanal = lista_flu[lista_flu["City_norm"].isin(municipios_norm)].copy()
codigos_flu = estacoes_flu_pantanal["Code"].astype(str).tolist()
print("Estações de vazão no Pantanal:", len(codigos_flu))

dados_flu = {}
for codigo in tqdm(codigos_flu, desc="Baixando vazão"):
    try:
        df = get_data.ANA.flow_data([codigo], only_consisted=False)
        df.index = pd.to_datetime(df.index)
        if not df.empty:
            df_proc = preprocess_df(df)
            dados_flu[codigo] = df_proc
    except Exception as e:
        print(f"Erro ao baixar {codigo}: {e}")

# Exportar todas as estações de vazão em um único Excel
export_dfs_to_excel(dados_flu, "vazao_pantanal.xlsx")

Estações de precipitação no Pantanal: 87

Baixando precipitação:   0%|          | 0/87 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.03it/s]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.97s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.24s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.52s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.47s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.95s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.51s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.10s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.43s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  5.00s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.19s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.01s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:06<00:00,  6.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.63s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.29s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.83s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:07<00:00,  7.50s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.05it/s]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.22s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:06<00:00,  6.18s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.76s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:07<00:00,  7.14s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.54s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.46s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.59s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.92s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.29s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.70s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.04s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.03it/s]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:06<00:00,  6.07s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.43s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.35s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.45s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.55s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.12s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.85s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.48s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.71s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.09s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:05<00:00,  5.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.41s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.33s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.77s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.23s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.59s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:03<00:00,  3.05s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.82s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.81s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.63s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.59s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.75s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.75s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.81s/it]


✅ Exportação concluída em 'export/precipitacao_pantanal.xlsx'
Estações de vazão no Pantanal: 48

Baixando vazão:   0%|          | 0/48 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.71s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.02s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.62s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.29s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.96s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.63s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.08s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.38s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.94s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.96s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.08s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:23<00:00, 23.08s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:32<00:00, 32.70s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.64s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.83s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.78s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.72s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.75s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.99s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.11s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:00<00:00,  1.87it/s]

Erro ao baixar 66523000: No objects to concatenate

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:06<00:00,  6.65s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.11s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.91s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.25s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.78s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.90s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.06s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.33s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  1.81s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.27s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.99s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.15s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:01<00:00,  1.61s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.36s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.17s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.10s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.20s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.13s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:04<00:00,  4.15s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:01<00:00,  2.00s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.03s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.35s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:03<00:00,  3.67s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.08s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:04<00:00,  4.86s/it]

  0%|          | 0/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:02<00:00,  2.38s/it]

  0%|          | 0/1 [00:00<?, ?it/s]/usr/local/lib/python3.12/dist-packages/hydrobr/get_data.py:177: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)

100%|██████████| 1/1 [00:02<00:00,  2.80s/it]

✅ Exportação concluída em 'export/vazao_pantanal.xlsx'